@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

body {
    margin: 0;
    background-color: bisque;
}

a {
    font-family: 'Oxanium', cursive;
    color: black;
    padding-left: 5%;
    text-decoration: none;
    transition-duration: .25s;
}

a:hover {
    font-size: 2.2rem;
    color: blue;
}

canvas {
    display: block;
    padding: 0;
    margin: auto;
    height: 90%;
    width: 90%;
    background-image: url('../img/spacebackground.jpg');
    border-style: solid;
    border-radius: 10px;
    font-family: 'Oxanium', cursive;
}
