body {
    margin: 0;
    background-color: bisque;
}

nav {
    padding-right: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;

}

canvas {
    display: block;
    padding: 0;
    /* padding-top: 5%; */
    margin: auto;
    margin-top: 2%;
    height: 80%;
    width: 90%;
    background-image: url('./img/spacebackground.jpg');
    border-style: solid;
    border-radius: 5px;
}
